{{#extends 'base'}}

{{#block "content"}}
<h1>Login</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" class="btn btn-sm btn-primary mt-3" value="Log in"/>
    <a href="/users/register" class="btn btn-warning btn-sm mt-3">Create Admin Account</a>
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
</form>
{{/block}}

{{/extends}}