{{#extends 'base'}}

{{#block "content"}}
<h1>Register Admin Account</h1>
<form method="POST">
    {{{form}}}
    <a href="/users/login" class="btn btn-primary btn-sm mt-3">Back</a>
    <input type="submit" value="Sign up" class="btn btn-primary btn-sm mt-3">
    {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"/> --}}
</form>
{{/block}}

{{/extends}}